<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140099292949-j6aunlt3gdlrpct5c2c6d4ub3m2958hd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140099292949-j6aunlt3gdlrpct5c2c6d4ub3m2958hd</string>
	<key>API_KEY</key>
	<string>AIzaSyBmVHnXRPxMpQsh8WoS8U5dbNIWhpf_5ZE</string>
	<key>GCM_SENDER_ID</key>
	<string>140099292949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>miu.csgp.bealert</string>
	<key>PROJECT_ID</key>
	<string>be-alert-23a3c</string>
	<key>STORAGE_BUCKET</key>
	<string>be-alert-23a3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140099292949:ios:fbf5a9ef0fd2fb3560231c</string>
</dict>
</plist>